body {
    background-color: #e3e3e3;
    margin: 0;
    font-size: 16px;
    color: #e3e3e3;
    background-image: url(mycouple.jpg);
    background-position: center 35%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.box {
    width: 100%;
    height: 100%;
    margin: auto;
}

h1 {
    font-size: 4em;
    font-family: Amatic SC;
    margin: 100px 0;
}

p {
    font-size: 1.5em;
    font-family: Shadows into light;
}

.fecha {
    font-size: 4em;
    font-family:Rajdhani;
}

a {
    display: block;
    width: 55%;
    font-family: Shadows Into Light;
    background-color: transparent;
    border-radius: 10px;
    border: solid #e3e3e3;
    padding: 15px 30px;
    margin: auto;
    margin-bottom: 100px;
    color: #e3e3e3;
    font-size: 2em;
    text-decoration: none;
}

a:hover {
    background-color: #e3e3e3;
    color: #000;
}
